# 🌐 Domaine configuration
DATA_FOLDER=.
DOMAIN_NAME=yourdomain.com
SUBDOMAIN=automation
GENERIC_TIMEZONE=Europe/Paris
SSL_EMAIL=your-email@example.com

# 🔐 n8n authentication
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=your-secure-password

# 🤖 Flowise
FLOWISE_USERNAME=admin
FLOWISE_PASSWORD=your-secure-password

# 📊 Grafana (if allready installed with monitoring or pro options)
GRAFANA_PASSWORD=your-secure-password

# 🔄 Watchtower notifications (optional for pro install)
# Uncomment and configure these variables to enable email notifications for Watchtower.
# WATCHTOWER_NOTIFICATIONS=email
# SMTP_SERVER=your.smtp.server.com
# SMTP_PORT=587
# SMTP_USER=your-smtp-username
# SMTP_PASSWORD=your-smtp-password
# WATCHTOWER_NOTIFICATION_EMAIL_FROM=${SSL_EMAIL} # Reuses the SSL_EMAIL for sender
# WATCHTOWER_NOTIFICATION_EMAIL_TO=${SSL_EMAIL}   # Reuses the SSL_EMAIL for recipient

# 💡 Notes:
# - This values are examples
# - Use setup.sh script to automatically generate secure passwords
# - The script will replace or create your server .env file with good values
